{% extends "core/change_object_base.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />
    <link rel='stylesheet' href="{% static 'foulassi/css/foulassi.css' %}" />
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            <div class="content-tab-list ceil">
                <div class="swiper-container">
                    <div class="nav nav-tabs" role="tablist">
                        <div role="presentation" class="tab active" data-tab="details">
                            <a href="#student-details" aria-controls="student-details" role="tab" data-toggle="tab">{% trans "Details" %}</a>
                        </div>
                        <div role="presentation" class="tab scores" data-tab="scores">
                            <a href="#student-scores" aria-controls="student-scores" role="tab" data-toggle="tab">{% trans "Scores" %}</a>
                        </div>
                        <div role="presentation" class="tab discipline" data-tab="discipline">
                            <a href="#student-discipline" aria-controls="student-discipline" role="tab" data-toggle="tab">{% trans "Discipline" %}</a>
                        </div>
                        <div role="presentation" class="tab billing" data-tab="billing">
                            {% if pending_invoice_count > 0 %}<i class="fa fa-circle attention text-danger"></i>{% endif %}
                            <a href="#student-billing" aria-controls="student-billing" role="tab" data-toggle="tab">{% trans "Billing" context 'Financial status' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content student-tab-panel">
                {% if error %}<p class="alert alert-danger">{{ error }}</p>{% endif %}
                <form method="post" id="student-details" class="tab-pane active admin-form"
                      role="tabpanel" style="padding-bottom: 90px"{% if settings.IS_IKWEN %} onsubmit="return false"{% endif %}>{% csrf_token %}
                    {% if errors %}
                        <div class="alert alert-danger">{{ errors }}</div>
                    {% endif %}
                    <div class="col-sm-4 col-lg-3 student-photo">
                        {% with model_name='foulassi.Student' image=obj.photo image_field_name='photo' label_field_name='last_name' img_help_text='Student photo: 560px x 480px' upload_to_ikwen='yes' %}
                            {% include 'core/snippets/uploader_single.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <div class="basic">
                            {% include 'core/snippets/model_admin_form.html' %}
                        </div>
                        <div class="divider row"></div>
                        <div class="people-in-charge">
                            <h5>{% trans "Parents" %}</h5>
                            <ul class="list-group" style="padding: 0">
                                {% for parent in student.parent_set.all %}
                                <li class="list-group-item ik-li parent" id="{{ parent.id }}" data-id="{{ parent.id }}" data-model-name="foulassi.Parent">
                                    <div class="parent-title">{{ parent.name }}: <span class="text-muted">{{ parent.relation }}</span></div>
                                    <div class="parent-contact text-muted">
                                        <span class="phone">{{ parent.phone }}</span>
                                        <span>{% if parent.email %}, {{ parent.email }}{% endif %}</span>
                                    </div>
                                    <div class="actions">
                                        <i class="glyphicon glyphicon-trash trash" title="{% trans "Delete item" %}"></i>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="list-group-item ik-li parent tpl" style="display: none">
                                    <div class="parent-title">
                                        <span class="name"></span>: <span class="relation text-muted"></span></div>
                                    <div class="parent-contact text-muted">
                                        <span class="phone"></span>
                                        <span class="email"></span>
                                    </div>
                                    <div class="actions">
                                        <i class="glyphicon glyphicon-trash trash" title="{% trans "Delete item" %}"></i>
                                    </div>
                                </li>
                                <li class="list-group-item add-parent-form" style="border: none; clear: both; display: none">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <input id="parent-name" class="form-control input-sm" placeholder="{% trans "Name" %}" />
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <input id="parent-relation" class="form-control input-sm" placeholder="{% trans "Relationship, Ex: Father" %}" />
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <input id="parent-phone" class="form-control input-sm" placeholder="{% trans "Phone" %}" />
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <input id="parent-email" class="form-control input-sm" placeholder="{% trans "Email" %}" />
                                        </div>
                                        <div class="col-sm-2 form-group">
                                            <button type="button" class="btn btn-sm btn-success save-parent">OK</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-xs btn-default add-parent" title="{% trans "Add a person in charge" %}">
                                <i class="fa fa-plus"></i> {% trans "Add" %}
                            </button>
                        </div>
                        <div class="divider row"></div>
                        <div class="form-group submit col-xs-12 col-sm-4 col-md-3" style="clear: both; margin-left: -15px; padding-top: 15px">
                            <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>

                <div id="student-scores" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>

                <div id="student-discipline" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>

                <div id="student-billing" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% include 'school/snippets/student/modals.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .classrooms').addClass('active');
            {% if settings.IS_UMBRELLA %}
                $('#student-details .basic input, #student-details .basic select').prop('disabled', true);
                $('#id_classroom').html('<option value="' + "{{ classroom.id }}" + '">' + "{{ classroom }}" + '</option>');
            {% endif %}
            $('#id_classroom').val('{{ classroom.id }}').prop('disabled', true).removeAttr('name');
            $('<input type="hidden" name="classroom" value="{{ classroom.id }}" />').insertBefore('#id_classroom');
            $('#id_dob').keyup(function() {
                var dob = $(this).val();
                if (dob.length >= 10) $(this).datepicker("setDate", dob);
            }).datepicker("option", {dateFormat: "dd/mm/yy"}).datepicker("setDate", {{ obj.dob|date:"d/m/Y" }});
            $('#discipline-item-happened-on').datepicker({
                altField: "#happened-on-alt",
                altFormat: "yy-mm-dd"
            });
            $('#discipline-item-id').change(function() {
                if ($(this).find('option:selected').data('has-count')) {
                    $('.form-group.discipline-item-count').show();
                } else {
                    $('.form-group.discipline-item-count').hide();
                    $('#discipline-item-count').val(1)
                }
            });
            $('#admin-content').on('click', '.tab', function (e) {
                var _$tab = $(this),
                    tabName = _$tab.data('tab');
                if (tabName === 'details' || _$tab.hasClass('loaded')) {
                    $('#admin-content').animate({'scrollTop': 0}, '50');
                    return;
                }
                $('#student-' + tabName).load('?tab=' + tabName, function() {
                    _$tab.addClass('loaded');
                    $('#admin-content').animate({'scrollTop': 0}, '50');
                    if (tabName === 'billing') {
                        $('#new-invoice-due-date').datepicker({
                            altField: "#new-invoice-due-date-alt",
                            altFormat: "yy-mm-dd"
                        }).removeAttr('name');
                    }
                }).find('.spinner').show();
            }).on('click', '.show-modal-discipline-entry', function() {
                var title = "{% trans "Add new entry" %}";
                if ($(this).hasClass('parent-convocation')) {
                    title = "{% trans "Summon parent" %}";
                    $('#discipline-item-id').val('{{ parent_convocation.id }}');
                    $('.discipline-item-id, .discipline-item-count').hide();
                    $('.discipline-item-happened-on').show();
                    $('.add-discipline-log-entry').removeClass('btn-danger exclusion').addClass('btn-success parent-convocation');
                } else if ($(this).hasClass('exclusion')) {
                    title = "{% blocktrans %}Exclude {{ student }} ?{% endblocktrans %}";
                    $('#discipline-item-id').val('{{ exclusion.id }}');
                    $('.discipline-item-id, .discipline-item-count, .discipline-item-happened-on').hide();
                    $('.add-discipline-log-entry').removeClass('btn-success parent-convocation').addClass('btn-danger exclusion');
                } else {
                    $('#discipline-item-id').val('');
                    $('.discipline-item-id, .discipline-item-count, .discipline-item-happened-on').show();
                    $('.add-discipline-log-entry').removeClass('btn-danger exclusion parent-convocation').addClass('btn-success');
                }
                $('#modal-add-discipline-entry .modal-title').text(title);
                $('#modal-add-discipline-entry').modal('show');
            }).on('click', '.add-discipline-log-entry', function() {
                var action = 'add_discipline_log_entry',
                    itemId = $('#discipline-item-id').val(),
                    count = $('#discipline-item-count').val(),
                    happenedOn = $('#happened-on-alt').val(),
                    details = $('#discipline-item-details').val(),
                    text = $('#sms-notification').val(),
                    recipients = [];
                $('.sms-recipient input[type=checkbox]').each(function() {
                    if ($(this).prop('checked')) recipients.push($(this).val())
                });
                recipients = recipients.join(',');
                var sendSMS = $('#send-sms').prop('checked') ? 'yes': '';
                console.log('sendSMS: ' + sendSMS + ', recipients: ' + recipients + ', text: ' + text);
                if ($(this).hasClass('parent-convocation')) action = 'parent-convocation';
                var params = {
                    action: action, item_id: itemId, count: count, happened_on: happenedOn, details: details,
                    send_sms: sendSMS, recipients: recipients, text: text
                };
                $.getJSON('', params, function(data) {
                    if (data.success) {
                        var $itemCount = $('.discipline-item .' + data.item_slug),
                            newCount = parseInt($itemCount.text()) + parseInt(count),
                            entry = data.entry,
                            justifyUrl = '{% url 'school:change_justificatory' %}?entry_id=' + entry.id,
                            $logEntry = $('li.di.tpl').clone().removeClass('tpl').addClass(entry.item.slug)
                                .attr('id', entry.id).data('id', entry.id);
                        $itemCount.text(newCount);
                        $logEntry.find('.name').text(entry.item.name);
                        $logEntry.find('.count').text(count);
                        $logEntry.find('.details').text(details);
                        $logEntry.find('.justify a').attr('href', justifyUrl);
                        $logEntry.prependTo('.discipline-log').fadeIn();
                        var notice = "{% trans "Discipline log entry successfully added." %}";
                        ikwen.showFloatingNotice(notice, '', 6);
                    }
                });
            }).on('click', '.add-parent', function() {
                $('.add-parent-form').show()
            }).on('click', '.save-parent', function() {
                var name = $('#parent-name').val(),
                    relation = $('#parent-relation').val(),
                    phone = $('#parent-phone').val(),
                    email = $('#parent-email').val();
                if (email && !email.isValidEmail()) {
                    $('#parent-email').parent('.form-group').addClass('has-error');
                    return;
                } else if (!/\d{9,}/.test(phone)) {
                    $('#parent-phone').parent('.form-group').addClass('has-error');
                    return;
                } else $('.people-in-charge .form-group').removeClass('has-error');
                var params = {action: 'add_parent', name: name, relation: relation, phone: phone, email: email};
                $.getJSON('', params, function(data) {
                    if (data.error) {
                        ikwen.showFloatingNotice(data.error)
                    } else if (data.success) {
                        var $parent = $('li.parent.tpl').clone().removeClass('tpl').attr('id', data.id).data('id', data.id);
                        $parent.find('.name').text(name);
                        $parent.find('.relation').text(relation);
                        $parent.find('.phone').text(phone);
                        $parent.find('.email').text(email);
                        $parent.insertBefore('li.parent.tpl').fadeIn();
                        $('.add-parent-form').hide();
                        $('#parent-name, #parent-relation, #parent-phone, #parent-email').val('')
                    }
                })
            }).on('click', '.do-add-invoice', function() {
                var amount = $('#new-invoice-amount').val(),
                    label = $('#new-invoice-label').val(),
                    dueDate = $('#new-invoice-due-date-alt').val(),
                    params = {action: 'add_invoice', amount: amount, due_date: dueDate, label: label};
                $.getJSON('', params, function(data) {
                    if (data.success) {
                        var $invoice = $('li.pending-invoice.tpl').clone().removeClass('tpl').attr('id', data.id).data('id', data.id);
                        $invoice.find('.amount .value').text(amount);
                        $invoice.find('.due-date').text(dueDate);
                        $invoice.find('.label').text(label);
                        $invoice.prependTo('.pending-invoices').fadeIn();
                        $('#modal-add-invoice').modal('hide');
                        $('.no-pending-invoice').hide();
                    }
                })
            }).on('click', '.show-modal-cash-in', function() {
                $('.errorlist.amount').remove();
                var invoiceId = $(this).data('invoice-id'),
                    amount = $(this).data('amount');
                $('#cash-in-invoice-id').val(invoiceId);
                $('#cash-in-amount').val(amount);
            }).on('click', '.do-cash-in', function() {
                $('.errorlist.amount').remove();
                var invoiceId = $('#cash-in-invoice-id').val(),
                    amount = $('#cash-in-amount').val(),
                    title = $('#' + invoiceId + ' .title').text(),
                    params = {action: 'cash_in', invoice_id: invoiceId, amount: amount};
                amount = parseFloat(amount);
                if (isNaN(amount)) {
                    $('<ul class="errorlist amount">' +
                    '<li>' + "{% trans "Please enter a valid number." %}" + '</li>' +
                    '</ul>').insertAfter('#invoice-amount');
                    return;
                }
                $.getJSON('', params, function(data) {
                    if (data.success) {
                        var toBePaid = $('#' + invoiceId).data('to-be-paid'),
                            rest = toBePaid - amount;
                        $('#' + invoiceId + ' .amount .value').text(rest.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}'));
                        var $payment = $('li.payment.tpl').clone().removeClass('tpl');
                        $payment.find('.amount').text(amount.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}'));
                        $payment.find('.details').text(title);
                        $('#modal-cash-in').modal('hide');
                        $payment.prependTo('.payment-log').fadeIn();
                    }
                })
            });
            {% if request.GET.showTab %}
                var tabName = '{{ request.GET.showTab }}',
                    _$tab = $('.tab.{{ request.GET.showTab }}');
                _$tab.click().find('a').tab('show');
                $('#student-' + tabName).load('?tab=' + tabName, function() {
                    _$tab.addClass('loaded')
                }).find('.spinner').show();
            {% endif %}
        })()
    </script>
{% endblock %}
