{% extends "core/change_object_base.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />
    <link rel='stylesheet' href="{% static 'foulassi/css/foulassi.css' %}?v=20.06.03.13.23" />
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            <div class="content-tab-list ceil">
                <div class="swiper-container">
                    <div class="nav nav-tabs" role="tablist">
                        <div role="presentation" class="tab active" data-tab="details">
                            <a href="#student-details" aria-controls="student-details" role="tab" data-toggle="tab">{% trans "Details" %}</a>
                        </div>
                        <div role="presentation" class="tab assignments" data-tab="assignments">
                            <a href="#student-assignments" aria-controls="student-assignments" role="tab" data-toggle="tab">{% trans "Assignments" %}</a>
                        </div>
                        <div role="presentation" class="tab scores" data-tab="scores">
                            <a href="#student-scores" aria-controls="student-scores" role="tab" data-toggle="tab">{% trans "Scores" %}</a>
                        </div>
                        <div role="presentation" class="tab discipline" data-tab="discipline">
                            <a href="#student-discipline" aria-controls="student-discipline" role="tab" data-toggle="tab">{% trans "Discipline" %}</a>
                        </div>
                        <div role="presentation" class="tab billing" data-tab="billing">
                            <a href="#student-billing" aria-controls="student-billing" role="tab" data-toggle="tab">
                                {% if has_pending_invoice %}<sup><i class="fa fa-circle attention text-danger"></i></sup>{% endif %}
                                <span>{% trans "Billing" context 'Financial status' %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content student-tab-panel">
                {% if error %}<p class="alert alert-danger">{{ error }}</p>{% endif %}
                <form method="post" id="student-details" class="tab-pane active admin-form" role="tabpanel" style="padding-bottom: 90px">{% csrf_token %}
                    {% if errors %}
                        <div class="alert alert-danger">{{ errors }}</div>
                    {% endif %}
                    <div class="col-sm-4 col-lg-3 student-photo">
                        {% with model_name='foulassi.Student' image=obj.photo image_field_name='photo' label_field_name='last_name' img_help_text='Student photo: 560px x 480px' upload_to_ikwen='yes' %}
                            {% include 'core/snippets/uploader_single.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <div class="basic">
                            {% include 'core/snippets/model_admin_form.html' %}
                        </div>
                        <div class="divider row"></div>
                        <div class="people-in-charge">
                            <h5>{% trans "Parents" %}</h5>
                            <ul class="list-group" style="padding: 0">
                                {% for parent in student.parent_set.all %}
                                <li class="list-group-item ik-li parent" id="{{ parent.id }}" data-id="{{ parent.id }}" data-model-name="foulassi.Parent">
                                    <div class="parent-title">
                                        <span class="name">{{ parent.name }}</span>:
                                        <span class="relation text-muted">{{ parent.relation }}</span>
                                    </div>
                                    <div class="parent-contact text-muted">
                                        <span class="phone">{{ parent.phone }}</span>{% if parent.email %}, <span class="email">{{ parent.email }}</span>{% endif %}
                                    </div>
                                    <div class="actions">
                                        <i class="glyphicon glyphicon-edit edit-parent" title="{% trans "Change item" %}"></i>
                                        <i class="glyphicon glyphicon-trash trash" title="{% trans "Delete item" %}"></i>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="list-group-item ik-li parent tpl" style="display: none">
                                    <div class="parent-title">
                                        <span class="name"></span>: <span class="relation text-muted"></span></div>
                                    <div class="parent-contact text-muted">
                                        <span class="phone"></span>
                                        <span class="email"></span>
                                    </div>
                                    <div class="actions">
                                        <i class="glyphicon glyphicon-edit" title="{% trans "Change item" %}"></i>
                                        <i class="glyphicon glyphicon-trash trash" title="{% trans "Delete item" %}"></i>
                                    </div>
                                </li>
                                <li class="list-group-item add-parent-form" style="border: none; clear: both; display: none">
                                    <input type="hidden" id="parent-id" />
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <input id="parent-name" class="form-control input-sm" placeholder="{% trans "Name" %}" />
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <input id="parent-relation" class="form-control input-sm" placeholder="{% trans "Relationship, Ex: Father" %}" />
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <input id="parent-phone" class="form-control input-sm" placeholder="{% trans "Phone" %}" />
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <input id="parent-email" type="email" class="form-control input-sm" placeholder="{% trans "Email" %}" />
                                        </div>
                                        <div class="col-sm-2 form-group">
                                            <button type="button" class="btn btn-sm btn-success save-parent">
                                                {% include 'core/snippets/button_spinner.html' %}
                                                <span>OK</span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-xs btn-default add-parent" title="{% trans "Add a person in charge" %}">
                                <i class="fa fa-plus"></i> {% trans "Add" %}
                            </button>
                        </div>
                        <div class="divider row"></div>
                        <div class="form-group submit col-xs-12 col-sm-4 col-md-3" style="clear: both; margin-left: -15px; padding-top: 15px">
                            <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>

                <div id="student-scores" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>
                <div id="student-assignments" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>

                <div id="student-discipline" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>

                <div id="student-billing" class="tab-pane student-info-tab" role="tabpanel">
                    {% include 'core/snippets/spinner.html' %}
                </div>
                {% include 'core/snippets/spinner.html' %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% include 'school/snippets/student/modals.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            let href = '', previous_hash = '', current_hash = '';
            $('body').on('click', '.bottom-menu-xs:visible a, li.assignment a', function() {
                let action = $(this).data('action'), $spinner = $('.tab-content > .spinner').clone().show();
                previous_hash = current_hash;

                if ($(this).parents($('.bottom-menu-xs:visible')).length > 0) {
                    $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                    previous_hash = '#show-bottom-menu';
                }
                if (action === 'change-homework'){
                    current_hash = '#change-homework';
                    href = localStorage.getItem('homeworkURL');
                }
                if (action === 'download-correction'){
                    current_hash = '#download-correction';
                    href = localStorage.getItem('correctionURL');
                }
                location.hash = current_hash;
                $('#student-assignments').html($spinner[0].outerHTML).load(href);
                return false;
            });
            $('#selection-control .clear-selection').click(() => {
                previous_hash = current_hash;
                window.history.back();
                return false;
            });
            $(window).on('hashchange', function () {
               let $spinner = $('.tab-content > .spinner').clone().show();
               current_hash = location.hash;
               switch (current_hash) {
                   case '#':
                   case '':
                       if (previous_hash === '#change-homework' || previous_hash === '#download-correction') {
                           $('#student-assignments').html($spinner[0].outerHTML).load('?tab=assignments', () => {
                               $('#admin-content').animate({'scrollTop': 0}, '50');
                           });
                           $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                           previous_hash = current_hash;
                           current_hash = '#';
                           location.hash  = current_hash;
                       }
                       if (previous_hash === '#show-bottom-menu')
                           $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                       break;
                   case '#show-bottom-menu':
                       if (previous_hash === '#change-homework' || previous_hash === '#download-correction') {
                           $('#student-assignments').html($spinner[0].outerHTML).load('?tab=assignments', () => {
                               $('#admin-content').animate({'scrollTop': 0}, '50');
                           });
                           $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                           previous_hash = current_hash;
                           current_hash = '#';
                           location.hash = current_hash;
                           console.log('Third case');
                       }
                       break;
                   default:
                       if (previous_hash === '#change-homework' || previous_hash === '#download-correction') {
                           $('#student-assignments').html($spinner[0].outerHTML).load('?tab=assignments', () => {
                               $('#admin-content').animate({'scrollTop': 0}, '50');
                           });
                           $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                           previous_hash = current_hash;
                           current_hash = '';
                       }
               }
               return false;
            });

            $('body').on('click', function () {
                if (($(this).parents('.bottom-menu-xs').length === 0) && (current_hash === '#show-bottom-menu') &&
                    (previous_hash === '' || previous_hash === '#')){
                    $('.edge-swipe-overlay, .bottom-menu-xs').hide();
                    return false;
                }
            });

            $('div#admin-nav .classrooms').addClass('active');
            {% if settings.IS_IKWEN %}
                $('#student-details .basic input, #student-details .basic select').prop('disabled', true);
                $('#id_classroom').html('<option value="' + "{{ classroom.id }}" + '">' + "{{ classroom }}" + '</option>');
            {% endif %}
            $('#id_classroom').val('{{ classroom.id }}').prop('disabled', true).removeAttr('name');
            $('<input type="hidden" name="classroom" value="{{ classroom.id }}" />').insertBefore('#id_classroom');
            $('#id_dob').keyup(function() {
                let dob = $(this).val();
                if (dob.length >= 10) $(this).datepicker("setDate", dob);
            }).datepicker("option", {dateFormat: "dd/mm/yy"}).datepicker("setDate", "{{ obj.dob|date:"d/m/Y" }}");
            $('#discipline-item-happened-on').datepicker({
                altField: "#happened-on-alt",
                altFormat: "yy-mm-dd"
            });
            $('#discipline-item-id').change(function() {
                if ($(this).find('option:selected').data('has-count')) {
                    $('.form-group.discipline-item-count').show();
                } else {
                    $('.form-group.discipline-item-count').hide();
                    $('#discipline-item-count').val(1)
                }
            });
            $('body').on('click', '#admin-content .tab', function (e) {
                let _$tab = $(this),
                    tabName = _$tab.data('tab');
                if (tabName === 'details' || _$tab.hasClass('loaded')) {
                    $('#admin-content').animate({'scrollTop': 0}, '50');
                    return;
                }
                $('#student-' + tabName).load('?tab=' + tabName, function() {
                    _$tab.addClass('loaded');
                    $('#admin-content').animate({'scrollTop': 0}, '50');
                    if (tabName === 'billing') {
                        $('#new-invoice-due-date').datepicker({
                            altField: "#new-invoice-due-date-alt",
                            altFormat: "yy-mm-dd"
                        }).removeAttr('name');
                    }
                }).find('.spinner').show();
            }).on('click', '.show-modal-discipline-entry', function() {
                let title = "{% trans "Add new entry" %}";
                if ($(this).hasClass('parent-convocation')) {
                    title = "{% trans "Summon parent" %}";
                    $('#discipline-item-id').val('{{ parent_convocation.id }}');
                    $('.discipline-item-id, .discipline-item-count').hide();
                    $('.discipline-item-happened-on').show();
                    $('.add-discipline-log-entry').removeClass('btn-danger exclusion').addClass('btn-success parent-convocation');
                } else if ($(this).hasClass('exclusion')) {
                    title = "{% blocktrans %}Exclude {{ student }} ?{% endblocktrans %}";
                    $('#discipline-item-id').val('{{ exclusion.id }}');
                    $('.discipline-item-id, .discipline-item-count, .discipline-item-happened-on').hide();
                    $('.add-discipline-log-entry').removeClass('btn-success parent-convocation').addClass('btn-danger exclusion');
                } else {
                    $('#discipline-item-id').val('');
                    $('.discipline-item-id, .discipline-item-count, .discipline-item-happened-on').show();
                    $('.add-discipline-log-entry').removeClass('btn-danger exclusion parent-convocation').addClass('btn-success');
                }
                $('#modal-add-discipline-entry .modal-title').text(title);
                $('#modal-add-discipline-entry').modal('show');
            }).on('click', '.add-discipline-log-entry:not(.processing)', function() {
                let _$btn = $(this),
                    action = 'add_discipline_log_entry',
                    itemId = $('#discipline-item-id').val(),
                    count = $('#discipline-item-count').val(),
                    happenedOn = $('#happened-on-alt').val(),
                    details = $('#discipline-item-details').val(),
                    text = $('#sms-notification').val(),
                    recipients = [];
                $('.sms-recipient input[type=checkbox]').each(function() {
                    if ($(this).prop('checked')) recipients.push($(this).val())
                });
                recipients = recipients.join(',');
                let sendSMS = $('#send-sms').prop('checked') ? 'yes': '';
                console.log('sendSMS: ' + sendSMS + ', recipients: ' + recipients + ', text: ' + text);
                if ($(this).hasClass('parent-convocation')) action = 'parent-convocation';
                let params = {
                    action: action, item_id: itemId, count: count, happened_on: happenedOn, details: details,
                    send_sms: sendSMS, recipients: recipients, text: text
                };
                _$btn.addClass('processing');
                $.getJSON('', params, function(data) {
                    _$btn.removeClass('processing');
                    if (data.success) {
                        let $itemCount = $('.discipline-item .' + data.item_slug),
                            newCount = parseInt($itemCount.text()) + parseInt(count),
                            entry = data.entry,
                            justifyUrl = '{% url 'school:change_justificatory' %}?entry_id=' + entry.id,
                            $logEntry = $('li.di.tpl').clone().removeClass('tpl').addClass(entry.item.slug)
                                .attr('id', entry.id).data('id', entry.id);
                        $itemCount.text(newCount);
                        $logEntry.find('.name').text(entry.item.name);
                        $logEntry.find('.count').text(count);
                        $logEntry.find('.details').text(details);
                        $logEntry.find('.justify a').attr('href', justifyUrl);
                        $logEntry.prependTo('.discipline-log').fadeIn();
                        let notice = "{% trans "Discipline log entry successfully added." %}";
                        ikwen.showFloatingNotice(notice, '', 6);
                    }
                });
            });
            $('#admin-content').on('click', '.add-parent', function() {
                $('.parent:not(.tpl)').show();
                $('.add-parent-form').insertBefore('.parent.tpl').show();
                $('#parent-id').val('');
                $('#parent-name').val('').focus();
                $('#parent-relation').val('');
                $('#parent-phone').val('');
                $('#parent-email').val('');
            }).on('click', '.edit-parent', function() {
                let $parent = $(this).parents('.ik-li');
                $('#parent-id').val($parent.data('id'));
                $('#parent-name').val($parent.find('.name').text()).focus();
                $('#parent-relation').val($parent.find('.relation').text());
                $('#parent-phone').val($parent.find('.phone').text());
                $('#parent-email').val($parent.find('.email').text());
                $('.parent:not(.tpl)').show();
                $parent.hide();
                $('.add-parent-form').insertBefore($parent).show();
            }).on('click', '.save-parent:not(.processing)', function() {
                $(this).addClass('processing');
                let parentId = $('#parent-id').val(),
                    name = $('#parent-name').val(),
                    relation = $('#parent-relation').val(),
                    phone = $('#parent-phone').val(),
                    email = $('#parent-email').val();
                if (email && !email.isValidEmail()) {
                    $('#parent-email').parent('.form-group').addClass('has-error');
                    return;
                } else if (!/\d{9,}/.test(phone)) {
                    $('#parent-phone').parent('.form-group').addClass('has-error');
                    return;
                } else $('.people-in-charge .form-group').removeClass('has-error');
                let params = {action: 'save_parent', parent_id: parentId, name: name, relation: relation, phone: phone, email: email};
                $.getJSON('', params, function(data) {
                    $('.save-parent').removeClass('processing');
                    if (data.error) {
                        ikwen.showFloatingNotice(data.error)
                    } else if (data.success) {
                        let $parent = $(`#${data.id}`);
                        if ($parent.length === 0) {  // If no previous parent with the ID
                            $parent = $('li.parent.tpl').clone().removeClass('tpl').attr('id', data.id).data('id', data.id).insertBefore('li.parent.tpl');
                        }
                        $parent.find('.name').text(name);
                        $parent.find('.relation').text(relation);
                        $parent.find('.phone').text(phone);
                        $parent.find('.email').text(email);
                        $parent.fadeIn();
                        $('.add-parent-form').hide();
                        $('#parent-name, #parent-relation, #parent-phone, #parent-email').val('')
                    }
                })
            });
            {% if request.GET.showTab %}
                let tabName = '{{ request.GET.showTab }}',
                    _$tab = $('.tab.{{ request.GET.showTab }}');
                _$tab.click().find('a').tab('show');
                $('#student-' + tabName).load('?tab=' + tabName, function() {
                    _$tab.addClass('loaded')
                }).find('.spinner').show();
            {% endif %}
        })()
    </script>
{% endblock %}
