{% load i18n static humanize %}

<link rel='stylesheet' href="{% static 'foulassi/css/homework.css' %}?v=20.10.18">
<div class="container">
    <div class="container-fluid">
        {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
        <form class="admin-form" method="post">{% csrf_token %}
            <h3>{{ assignment.subject }}: {{ assignment.title }}</h3>
            <div style="margin-top: 60px">
                <h4>{% trans "Instructions" %}:</h4>
                <p style="font-size: 20px">
                    {{ assignment.detail|safe }}
                </p>
            </div>
        </form>
    </div>
</div>
<script>
    (() => {
        $('#selection-control').addClass('back');
        $('#selection-control .clear-selection').attr('title', "{% trans 'Back' %}");
        $('#selection-control .select-count').html("{% trans 'Back' %}");
    })()
</script>