{% load i18n humanize %}
<div class="billing-summary subtle-shade" style="min-height: 200px">
    {% if not settings.IS_IKWEN %}
    <div class="actions dropdown" style="cursor: pointer; float: right; margin: -10px 24px 0 0">
        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="action glyphicon glyphicon-option-vertical text-muted"></i>
        </span>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="period">
            <li class="show-modal-add-invoice" data-toggle="modal" data-target="#modal-add-invoice">
                <a href="javascript:;">{% trans "Add new invoice" %}</a>
            </li>
            <li class="show-modal-discipline-entry parent-convocation">
                <a href="javascript:;" style="color: #e74c3c">{% trans "Remind parent" %}</a>
            </li>
        </ul>
    </div>
    {% endif %}
    <ul class="pending-invoices pull-left" style="width: 100%">
        {% for invoice in pending_invoice_list %}
            <li class="pending-invoice" id="{{ invoice.id }}" data-id="{{ invoice.id }}" data-model-name="foulassi.Invoice"
                data-to-be-paid="{{ invoice.get_to_be_paid }}">
                <h5 class="title" style="margin-top: 0">
{#                    <a href="{% url 'billing:invoice_detail' invoice.id %}">{{ invoice.get_title }}</a>#}
{#                    <span> - </span>#}
                    <span>{{ invoice.get_title }} - </span>
                    <span class="text-muted">{% trans "Deadline" %}: {{ invoice.due_date }}</span>
                </h5>
                <div class="amount">
                    <span class="value">{{ invoice.get_to_be_paid|intcomma }}</span>
                    <span class="currency text-muted">{{ currency_symbol }}</span>
                </div>
                <div style="margin-top: 10px">
                    {% if settings.IS_IKWEN %}
                        <button class="btn btn-sm btn-success payment-start"
                           data-product-id="{{ invoice.id }}">{% trans "Pay now" %}</button>
                    {% elif perms.billing.ik_cash_in and not invoice.is_my_kids %}
                        <a href="javascript:;" class="show-modal-cash-in" data-toggle="modal" data-target="#modal-cash-in"
                           data-invoice-id="{{ invoice.id }}" data-amount="{{ invoice.get_to_be_paid }}">{% trans "Cash in" %}</a>
                    {% endif %}
                </div>
                {% if not invoice.is_tuition and not invoice.is_my_kids %}
                <div class="actions">
                    <i class="glyphicon glyphicon-trash trash" style="color: #e74c3c" title="{% trans "Delete" %}"></i>
                </div>
                {% endif %}
            </li>
        {% empty %}
            <li class="">
                <em class="no-pending-invoice text-muted" style="font-size: 1.2em">{% trans "No pending payment" %}</em>
            </li>
        {% endfor %}
        <li class="pending-invoice tpl" style="display: none">
            <div class="title">
                <span></span>
                <span class="text-muted">{% trans "Deadline" %}: <span class="deadline"></span></span>
            </div>
            <div class="amount">
                {% blocktrans %}
                    <span class="currency text-muted">{{ currency_symbol }}</span>
                    <span class="value"></span>
                {% endblocktrans %}
            </div>
            <div style="margin-top: 5px">
                <a href="javascript:;" class="show-modal-cash-in"
                   data-toggle="modal" data-target="#modal-cash-in">{% trans "Cash in" %}</a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<ul class="list-group payment-log" style="margin-top: 15px">
    {% for payment in payment_list %}
        <li class="list-group-item ik-li payment" id="{{ payment.id }}">
            <div class="row">
                <div class="col-xs-10">
                    <div class="di-title">
                        <span class="amount">{{ payment.amount|intcomma }}</span>
                        <span class="method text-muted">{{ currency_symbol }} - {{ payment.method }}</span>
                    </div>
                    <div class="di-details text-muted">{{ payment.invoice.get_title }}</div>
                </div>
                <div class="col-xs-2">
                    <div class="di-happened-on pull-right">{{ payment.created_on|date:"Y-m-d H:i" }}</div>
                </div>
            </div>
        </li>
    {% endfor %}
    <li class="list-group-item ik-li payment tpl" style="display: none">
        <div class="row">
            <div class="col-xs-10">
                <div class="di-title">
                    <span class="amount"></span>:
                    <span class="method text-muted">{% trans "Cash" %}</span>
                </div>
                <div class="details text-muted"></div>
            </div>
            <div class="col-xs-2">
                <div class="di-happened-on pull-right"></div>
            </div>
        </div>
    </li>
</ul>
<div class="clearfix"></div>
