{% load i18n %}
<ul class="list-group">
    <li class="list-group-item ik-li row">
        <div class="col-xs-6">&nbsp;</div>
        <div class="col-xs-3 text-right">
            <strong>{% trans "Average" %}</strong>
        </div>
        <div class="col-xs-3 text-right">
            <strong>{% trans "Rank" %}</strong>
        </div>
    </li>
    {% for score in score_list %}
        {% with session=score.session %}
        <li class="list-group-item ik-li row{% if not session %} summary{% endif %}">
            <div class="col-xs-6">
                {% if session %}
                    <span class="hidden-xs">{{ session }}</span>
                    <span class="visible-xs">{{ session.name|truncatechars:15 }}</span>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            {% if score.value == '---' %}
                <div class="col-xs-3 text-right">{{ score.value }}</div>
            {% else %}
                <div class="col-xs-3 text-right">{{ score.value|floatformat:"2" }}</div>
            {% endif %}
            <div class="col-xs-3 text-right">{{ score.rank }}</div>
        </li>
        {% endwith %}
    {% endfor %}
</ul>
<ul class="object-list list-group">
{% for subject in subject_list %}
    <li class="ik-li list-group-item">
        <div style="float: left; width: 100%; padding: 15px 10px">
            <strong>{{ subject }}</strong>
            <div class="scores">
                {% for score in subject.score_list %}
                    <span class="score score-{{ score.value|floatformat:"0" }}">{{ score.value }}</span>
                {% empty %}
                    <span class="score score-10">---</span>
                {% endfor %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>
<div class="clearfix"></div>
