{% extends "core/base_admin.html" %}
{% load i18n static %}

{% block app_admin_nav %}
    {% if perms.school.ik_view_dashboard %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dashboard">
            <a href="{% url 'reporting:dashboard' %}">{% trans "Dashboard" %}</a>
        </li>
    </ul>
    <div class="divider"></div>
    {% endif %}
    <ul class="nav nav-pills nav-stacked">
        {% if perms.school.ik_manage_school %}
        <li role="presentation" class="levels">
            {% url 'school:level_list' as level_list_url %}
            <a href="{{ level_list_url }}">{% trans "Levels" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_school or perms.school.ik_access_scores %}
        <li role="presentation" class="classrooms">
            {% url 'school:classroom_list' as classroom_list_url %}
            <a href="{{ classroom_list_url }}">{% trans "Classrooms" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_school %}
        <li role="presentation" class="subjects">
            {% url 'school:subject_list' as subject_list_url %}
            <a href="{{ subject_list_url }}">{% trans "Subjects" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_teacher %}
        <li role="presentation" class="teachers">
            {% url 'school:teacher_list' as teacher_list_url %}
            <a href="{{ teacher_list_url }}">{% trans "Teachers" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_school %}
        <li role="presentation" class="session-groups">
            {% url 'school:sessiongroup_list' as sessiongroup_list_url %}
            <a href="{{ sessiongroup_list_url }}">{% trans "Session Groups" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_school %}
        <li role="presentation" class="sessions">
            {% url 'school:session_list' as session_list_url %}
            <a href="{{ session_list_url }}">{% trans "Sessions" %}</a>
        </li>
        {% endif %}
        {% if perms.school.ik_manage_school %}
        <li role="presentation" class="discipline-items">
            {% url 'school:disciplineitem_list' as discipline_item_list_url %}
            <a href="{{ discipline_item_list_url }}">{% trans "Discipline" %}</a>
        </li>
        {% endif %}
    </ul>
    {% if perms.billing.ik_manage_invoice %}
    <div class="divider"></div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menus">{% url 'billing:payment_list' as payment_list_url %}
            <a href="{{ payment_list_url }}">{% trans "Payments" %}</a>
        </li>
        <li role="presentation" class="menus">{% url 'billing:transaction_log' as transaction_log_url %}
            <a href="{{ transaction_log_url }}">{% trans "Transactions" %}</a>
        </li>
        <li role="presentation" class="menus">{% url 'cashout:home' as wallet_url %}
            <a href="{{ wallet_url }}">{% trans "Wallet" %}</a>
        </li>
    </ul>
    {% endif %}
    {% if perms.school.ik_webmaster %}
    <div class="divider"></div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="homepage">
            {% url 'web:banner_list' as banner_list_url %}
            <a href="{{ banner_list_url }}">{% trans "Homepage" %}</a>
        </li>
        <li role="presentation" class="menus">{% url 'web:smart_category_list' as smart_category_list_url %}
            <a href="{{ smart_category_list_url }}">{% trans "Menus" %}</a>
        </li>
        <li role="presentation" class="items">{% url 'items:item_list' as item_url %}
            <a href="{{ item_url }} ">{% trans "Items" %}</a>
        </li>
        <li role="presentation" class="blog">
            <a href="javascript:;" data-toggle="collapse" data-target="#blog"
               aria-expanded="true" style="padding-right: 0;"> {% trans "Blog" %}
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="blog" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                style="padding-left: 15px">
                <li class="blog-categories">{% url 'blog:list_category' as category_list_url %}
                    <a href="{{ category_list_url }}">{% trans "Blog categories" %}</a>
                </li>
                <li class="posts">
                    <a href="{% url 'blog:list_post' %}">{% trans "Posts" %}</a>
                </li>
                <li class="comments">
                    <a href="{% url 'blog:list_comment' %}">{% trans "Comments" %}</a>
                </li>
            </ul>
        </li>
    </ul>
    {% endif %}
{% endblock %}