{% extends 'core/change_object_base.html' %}
{% load i18n %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form class="admin-form" method="post">{% csrf_token %}
                <h3>{{ assignment.subject }}: {{ assignment.title }}</h3>
                <div style="margin-top: 40px">
                    <h4>{% trans "Instructions" %}:</h4>
                    <p>
                        {{ assignment.detail|safe }}
                    </p>
                </div>
                <div class="hidden field-box field-assignment form-group{% if not field.is_readonly and field.errors %} errors{% endif %}">
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    <label class="required" for="id_assignment">{% trans 'Assignment' %}:</label>
                    <input type="hidden" name="assignment" value="{{ assignment.id }}">
                    <input type="text" id="id_assignment" value="{{ assignment }}" class="form-control input-sm" disabled>
                </div>
                <div class="hidden field-box field-student form-group{% if not field.is_readonly and field.errors %} errors{% endif %}">
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    <label class="required" for="id_student">{% trans 'Student' %}:</label>
                    <input type="hidden" name="student" value="{{ student.id }}">
                    <input type="text" id="id_student" value="{{ student }}" class="form-control input-sm" disabled>
                </div>
                <div>
                    {% for media_obj in media_field_list %}
                        <div class="col-sm-4 col-lg-3" style="padding-left: 0; margin-right: 15px">
                            <div>
                            {% with model_name=model media=media_obj label_field_name=label_field %}
                                {% include 'core/snippets/media_uploader_single.html' %}
                            {% endwith %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                        <button class="btn btn-sm btn-primary btn-block save-homework">{% trans "Save" %}</button>
                        {% include 'core/snippets/spinner.html' %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}