/**
    Document   : foulassi-kids
    Created on : June 09, 2019, 13:49
    Contributors     : Kom Sihon
                       Silatchom Siaka
    Description:
        Foulassi admin styles for the social platform part
*/

#app-nav {display: none;overflow: hidden;height: 0;}
#content {min-height: 90vh}
.search-school {margin: 5vh 0 2vh;}
.kid {height: 195px}
#content h3 {text-align: center; margin-bottom: 21px}
.suggestion-list .btn {min-width: 90px; margin-left: 5px}
.school-list .ik-li {padding: 2px;height: 84px;}
.school-list .ik-li .image {height: 100%;background-size: cover;width: 120px;}
.school-list .ik-li .info {padding: 10px 0;}
.kid .status-bullet {border: 2px solid #fff;box-sizing: content-box;float: right;height: 10px;width: 10px;}
.kid .img-thumbnail {border-radius: 50%}
#modal-confirm-accept .modal-body, #modal-confirm-refuse .modal-body {padding-top: 0}
#modal-confirm-accept h3, #modal-confirm-refuse h3 {margin-top: -15px}
#modal-confirm-accept .notice, #modal-confirm-refuse .notice {margin-bottom: 42px}
#admin-content .banner {background: rgb(2,0,36);}
#admin-content .banner h1 {color: #fff; padding-top: 70px; padding-bottom: 60px; margin-top: 0}
#admin-content .banner ~ div {float: none; margin: auto}
#admin-content .banner ~ div .title {margin: 40px}
#admin-content .banner ~ div .title p {font-size: 18px; line-height: 35px}
#admin-content .banner ~ div #bundles {float: none; margin: auto}
#admin-content .banner ~ div #bundles h2 {color: #fff; margin: 30px auto}
#admin-content .banner ~ div #bundles .table-bordered {min-height: 350px;}
#admin-content .banner ~ div #bundles .table-bordered .bundle {margin: 20px auto}
#admin-content .banner ~ div #bundles .table-bordered .due-date {margin: 20px auto}
#admin-content .banner ~ div #bundles .table-bordered .bundle sup {font-size: 20px}
#admin-content .banner ~ div #bundles .table-bordered .bundle span {font-weight: 800; font-size: 40px}
#admin-nav .ik-li .info {width: 167px;}
.title-brand {font-weight: 600;padding: 0 10px;font-size: 21px}
.title-brand:hover {text-decoration:none}
.pending-invoices .payment-start {margin-top: 1vh;min-width: 150px;}
#search-other-school {border-top: 1px solid #eee; margin-top: 6vh; padding-top: 2vh}
#search-other-school h4 {font-weight: 700}
#search-other-school .search-school {margin-top: 3vh}
.member:not(.tpl):last-child, .ik-li:not(.tpl):last-of-type {border-bottom: none}
.school-avatar {font-size: 60px;color: #bfc5d8;line-height: 80px;}

@media (max-width: 767px) {
    .school-list .ik-li .info {padding: 10px 0;max-width: 180px;}
    .title-brand {margin-top: 3vh;display: block;}
    div#container.admin {padding-top: 55px;}
    #student-details .basic {clear: both;padding-top: 15px;}
    .ik-li:not(.selected):hover .actions {right: 15px;}
    .kid .img-thumbnail {border-radius: 50%;height: 115px;width: 115px;}
    .kid .img-circle {background: center;background-size: cover;height: 105px;width: 105px;}
    .kid .status-bullet {margin-top: -100px;}
    .suggestion-list .ik-li .btn {width: 90%;margin: 20px auto 10px;float: none;display: block;}
    .suggestion-list .ik-li:not(.selected):hover .actions {bottom: 0;position: fixed;height: 30vh;right: 0;width: 100%;z-index: 1000}
    .suggestion-list.school-list .ik-li:not(.selected):hover .actions {height: 15vh}
    .school-list {margin: 0 -12px}
    #admin-content .banner ~ div .title {margin-left: auto!important; margin-right: auto!important;}
    #admin-content .banner ~ div #bundles .table-bordered  {margin-bottom: 30px}
}

@media (min-width: 768px) {
    .school-list .ik-li {padding: 2px 10px 2px 2px}
    .school-list .ik-li .info {max-width: 260px}
    .kid-list {margin-top: 6vh;}
    div#container.admin {padding-top: 65px}
    .kid .img-thumbnail {height: 118.75px;width: 118.75px;}
    .kid .img-circle {background: center;background-size: cover;height: 108.75px;width: 108.75px;}
    .kid .status-bullet {margin-top: -103.5px;}
}
@media (min-width: 992px) {
    .title-brand {margin-top: -2px;}
    .school-list .ik-li .info {max-width: 280px;}
    .kid .img-thumbnail {height: 124.16px;width: 124.16px;}
    .kid .img-circle {background: center;background-size: cover;height: 114.16px;width: 114.16px;}
    .kid .status-bullet {margin-top: -109.16px;}
}
@media (min-width: 1200px) {
    .school-list .ik-li .info {max-width: 395px;}
    .kid {height: 210px}
    .kid a {display: block}
    .kid .img-thumbnail {height: 157.5px;width: 157.5px;}
    .kid .img-circle {background: center;background-size: cover;height: 147.5px;width: 147.5px;}
    .kid .status-bullet {margin-top: -133.5px;}
}