{% extends 'core/object_list_base.html' %}
{% load i18n %}
{% block breadcrumb_location %}
    <li>
        <a href="{% url 'school:classroom_list' %}">{% trans "Classrooms" %}</a>
    </li>
    <li>
        <a href="{% url 'school:classroom_detail' classroom.id %}">{{ classroom }}</a>
    </li>
    <li>{{ subject }}</li>
    <li>
        <a href="{% url 'school:assignment_list' %}?classroom_id={{ classroom.id }}">{% trans 'Assignments' %}</a>
    </li>
    <li>{{ assignment.title }}</li>
    <li>{% trans 'Replies' %}</li>
{% endblock %}
{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            <div id="admin-tools">
                <form id="admin-tools-form">
                    <div>
                        <div>
                            <i class="glyphicon glyphicon-search"></i>
                            <i class="glyphicon glyphicon-menu-left hide-search back"></i>
                            <input id="context-search" type="text" placeholder="{% trans "Search" %}" value="{% if q %}{{ q }}{% endif %}"
                                   class="input-sm tool search" data-min-search-chars="2"/>
                        </div>
                        {% if filter and filter|length > 0 %}
                            <div class="filter-trigger">
                                <i class="glyphicon glyphicon-filter"></i>
                                <i class="glyphicon glyphicon-menu-left hide-filter back"></i>
                                <div class="show-floating-filter btn btn-default btn-sm hidden-xs" style="display: none; padding-left: 30px">
                                    <div>
                                        <span class="pull-left">{% trans "Filters" %}</span>
                                        <span class="caret pull-right" style="margin: 7px 0 0 5px"></span>
                                    </div>
                                </div>
                                <div class="floating-filter subtle-shade" style="display: none">
                                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                {% for elt in filter %}
                                    <div class="tool filter{% if elt.is_date_filter %} period{% endif %}">
                                        <label for="{{ elt.parameter_name }}" class="sr-only">{% trans elt.title %}</label>
                                        <select id="{{ elt.parameter_name }}" style="float: left; width: 120px;{% if forloop.counter > 1 %} padding-left: 10px{% endif %}"
                                                class="form-control input-sm {{ elt.parameter_name }} widget" name="{{ elt.parameter_name }}">
                                            <option value="">{% trans "All" %} {% trans elt.title %}</option>
                                            {% for choice in elt.choices %}
                                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                            {% endfor %}
                                            {% if elt.is_date_filter %}
                                                <option value="other">{% trans "Other" %}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                {% endfor %}
                                <div id="admin-tools-actions">
                                    {% url 'school:change_assignment' classroom_id as change_object_url %}
                                    <a href="{{ change_object_url }}" class="btn btn-sm btn-success cta add pull-right action"
                                            title="{% blocktrans %}Add new {{ verbose_name }}{% endblocktrans %}">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span class="hidden-xs">{% trans "Add" %}</span>
                                        {% if first_setup %}<div class="pulse"></div>{% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div id="results" class="results-stage">
                {% include html_results_template_name %}
            </div>
        </div>
    </div>
{% endblock %}