{% extends "core/object_list_base.html" %}
{% load i18n humanize static admin_list %}
{% block head_style %}
    {{ block.super }}
    <style>
        .blink-bullet {
            font-size: .7em
        }
        #reminder ul {
            list-style-type: none;
            margin-top: 10px;
        }
        #reminder ul li {
            margin-bottom: 15px;
        }
        #reminder .modal-body .title {
            font-weight: 600;
            line-height: 32px
        }
    </style>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="has-edge-panel-right">
        <div class="container-fluid">
            <div id="admin-tools" class="ceil bottom-shade-xs">
                <form id="admin-tools-form" onsubmit="return false">
                    <div class="student-count-summary">{% blocktrans with boys_count=config.boys_count girls_count=config.girls_count count=config.student_count %}
                        <span class="hidden-xs">{{ count }} students -</span>
                        <span style="font-size: .8em">
                            Girls: <span class="text-muted">{{ girls_count }}</span> / Boys: <span class="text-muted">{{ boys_count }}</span>
                        </span>
                    {% endblocktrans %}</div>
                    {% if filter and filter|length > 0 %}
                        <div class="filter-trigger">
                            <i class="glyphicon glyphicon-filter"></i>
                            <i class="glyphicon glyphicon-menu-left hide-filter back"></i>
                            {% for elt in filter %}
                            <div class="tool filter">
                                <label for="{{ elt.parameter_name }}" class="sr-only">{% trans elt.title %}</label>
                                <select id="{{ elt.parameter_name }}" style="float: left; width: 120px" class="form-control input-sm {{ elt.parameter_name }} widget" name="{{ elt.parameter_name }}">
                                    <option value="">{% trans "All" %}</option>
                                    {% for choice in elt.choices %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
                {% if level_list and not request.session.is_teacher %}
                {% url change_object_url_name as change_classroom_url %}
                <a href="{{ change_classroom_url }}" class="btn btn-sm btn-success cta pull-right action"
                        title="{% trans "Add new classroom" %}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span class="hidden-xs">{% trans "Add" %}</span>
                </a>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div id="results">
                {% if level_list %}
                    {% for level in level_classroom_list %}
                    <div class="level">
                        {% if level.classroom_list %}
                        <h3>{{ level.name }} <span class="text-muted" style="font-weight: 400; font-size: .7em"> ({{ level.student_count }})</span></h3>
                        <div class="classroom-list tiles" style="margin-top: 0">
                            {% for classroom in level.classroom_list %}
                            {% url 'school:classroom_detail' classroom.id as classroom_detail_url %}
                            {% url 'school:change_classroom' classroom.id as change_classroom_url %}
                            <div class="col-sm-4 col-lg-3">
                                <div class="classroom ik-li subtle-shade" id="{{ classroom.id }}" data-id="{{ classroom.id }}">
                                    <div>
                                        {% if request.session.is_teacher %}
                                            <a href="{{ classroom_detail_url }}">{{ classroom }}</a>
                                        {% else %}
                                           {% if classroom.has_parent_reminder or classroom.has_student_reminder %}
                                            <span class="pull-left" style="width: 15px">
                                                {% if classroom.has_parent_reminder and not classroom.has_student_reminder %}
                                                    <i class="fas fa-circle text-danger blink-bullet"></i>
                                                {% endif %}
                                                {% if classroom.has_student_reminder %}<i class="fas fa-circle text-warning blink-bullet"></i>{% endif %}
                                            </span>
                                            {% endif %}
                                            <span>{{ classroom }}</span>
                                        {% endif %}
                                        <span class="text-muted">({{ classroom.size }})</span>
                                    </div>
                                    {% if not request.session.is_teacher %}
                                    <div class="actions dropdown" style="cursor: pointer; float: right">
                                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="action glyphicon glyphicon-option-vertical text-muted"></i>
                                        </span>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="period">
                                            <li>
                                                <a href="{{ classroom_detail_url }}">{% trans "Access" %}</a>
                                            </li>
                                            <li>
                                                <a href="{{ change_classroom_url }}">{% trans "Manage" %}</a>
                                            </li>
                                            <li>
                                                {% if classroom.get_sms_sending_in_progress %}
                                                    <a href="javascript:;" title="{% trans "SMS Sending in progress" %}">
                                                        <div class="progress" role="progressbar">
                                                            <div class="progress-bar sms" style="width: 15%"></div>
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <a href="javascript:;" class="show-send-sms"
                                                       data-classroom="{{ classroom }}"
                                                       data-size="{{ classroom.size }}">{% trans "Send SMS" %}</a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if classroom.get_mail_sending_in_progress %}
                                                    <a href="javascript:;" title="{% trans "Mail Sending in progress" %}">
                                                        <div class="progress" role="progressbar">
                                                            <div class="progress-bar mail" style="width: 15%"></div>
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <a href="javascript:;" class="show-send-mail"
                                                       data-classroom="{{ classroom }}"
                                                       data-size="{{ classroom.size }}">{% trans "Send Mail" %}</a>
                                                {% endif %}
                                            </li>
                                            {% if classroom.size == 0 %}
                                            <li class="trash">
                                                <a href="javascript:;" style="color: #e74c3c">{% trans "Delete" %}</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        {% endif %}
                    </div>
                    {% empty %}
                        {% if perms.school.ik_manage_school %}
                            <div class="col-md-10 col-md-offset-1">
                                <div class="empty-list">
                                    <p class="notice">{% blocktrans %}
                                        Add classrooms here. Name of the classroom can be <strong>A, B, C</strong>, etc. Level will be prepended
                                        to form the full name.<br>
                                        <em>Ex: Naming a Form1 classroom <strong>A</strong> will result in the full name <strong>Form1 A</strong>.</em>
                                    {% endblocktrans %}</p>
                                    <a href="{{ change_object_url }}" class="btn btn-success btn-green">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        {% trans "Add classroom" %}
                                    </a>
                                </div>
                            </div>
                        {% elif request.session.is_teacher  %}
                            <div id="stage" class="empty-list">
                                <p class="notice">
                                    {% trans "You've not been assigned any classroom yet. Please contact your administrator." %}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div id="stage" class="empty-list">
                        <p class="notice">{% blocktrans %}
                            You can start adding classrooms only after you have added levels.
                        {% endblocktrans %}</p>
                        <a href="{% url 'school:change_level' %}" class="btn btn-success btn-green">
                            <i class="glyphicon glyphicon-plus"></i>
                            {% trans "Add level" %}
                        </a>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div class="edge-panel-right-container">
                <div id="object-detail" class="edge-panel edge-panel-right">
                    <div class="empty">
                        {% trans "Click on a classroom in the list to view details." %}
                    </div>
                    <div style="padding-bottom: 200px">
                        <div class="info">
                            {% include 'core/snippets/spinner.html' %}
                            <div class="content"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : BEGIN #}
    <div class="modal fade" id="reminder" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-body text-center">
                    <h4 class="title">{% blocktrans %}Some classrooms have unregistered students or/and parents. Please fix !{% endblocktrans %}</h4>
                    <ul class="text-left list-unstyled text-muted">
                        <li><i class="fas fa-circle text-danger"></i> classrooms with missing students</li>
                        <li><i class="fas fa-circle text-warning"></i> classrooms with missing parents</li>
                    </ul>
                    <div>
                        <div class="actions">
                            <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                <button class="btn btn-success btn-block btn-sm btn-ok" data-dismiss="modal" aria-label="OK">{% trans "OK" %}</button>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 pull-left action">
                                <a href="{% url 'foulassi:admin_home' %}" class="btn btn-default btn-block btn-sm">{% trans 'Cancel' %}</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : END #}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('#discipline-item-happened-on').datepicker({
                altField: "#happened-on-alt",
                altFormat: "yy-mm-dd"
            });
            {% if has_reminder %}
                $('#reminder').modal({backdrop: 'static'});
                $('#reminder .btn-ok').click(function () {
                    $('.classroom .fas.fa-circle').effect("shake", {times: 5, distance: 3, speed: 100});
                });
                setInterval(() => {
                    $('.classroom .fas.fa-circle').effect("shake", {times: 5, distance: 3, speed: 100});
                }, 10000);
            {% endif %}
        })()
    </script>
{% endblock %}