{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block page_title %}
<title> {{ verbose_name_plural|capfirst }} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        {% if not subject_list %}
            #admin-tools .btn.add {display: none}
        {% endif %}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{{ verbose_name_plural|capfirst }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                {% include 'core/snippets/spinner.html' %}
                {% if subject_list %}
                    {% if object_list %}
                        {% include 'core/snippets/object_list_results.html' %}
                    {% else %}
                        <div id="stage" class="empty-list">
                            <p class="notice">{% blocktrans %}Add levels here. Example: Form1, Form2, etc.{% endblocktrans %}</p>
                            <a href="{% url 'school:change_level' %}" class="btn btn-success btn-green">
                                <i class="glyphicon glyphicon-plus"></i>
                                {% trans "Add level" %}
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    <div id="stage" class="empty-list">
                        <p class="notice">{% blocktrans %}
                            You can start add levels only after you have added subjects.
                        {% endblocktrans %}</p>
                        <a href="{% url 'school:change_subject' %}" class="btn btn-success btn-green">
                            <i class="glyphicon glyphicon-plus"></i>
                            {% trans "Add subject" %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if is_sortable %}
        {% include 'core/snippets/sort_and_actions.html' %}
    {% endif %}
    <script type="text/javascript">
        (function() {
            var target = '{{ verbose_name_plural|slugify }}' ? '{{ verbose_name_plural|slugify }}' : 'blank';
            $('div#admin-nav .' + target).addClass('active');
        })()
    </script>
{% endblock %}
