{% load i18n static %}

<link rel='stylesheet' href="{% static 'foulassi/css/homework.css' %}?v=20.10.16" />

<div class="col-sm-8">
    {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
    <form class="admin-form" action="{% url 'foulassi:change_homework' ikwen_name student.id assignment.id %}" method="post">{% csrf_token %}
        <h3>{{ assignment.subject }}:</h3><h4 style="line-height: 30px"> {{ assignment.title }}</h4>
        <div style="margin-top: 60px">
            <h4>{% trans "Instructions" %}:</h4>
            <p style="font-size: 20px">
                {{ assignment.detail|safe }}
            </p>
        </div>
        <div class="hidden field-box field-assignment form-group{% if not field.is_readonly and field.errors %} errors{% endif %}">
            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
            <label class="required" for="id_assignment">{% trans 'Assignment' %}:</label>
            <input type="hidden" name="assignment" value="{{ assignment.id }}">
            <input type="text" id="id_assignment" value="{{ assignment }}" class="form-control input-sm" disabled>
        </div>
        <div class="hidden field-box field-student form-group{% if not field.is_readonly and field.errors %} errors{% endif %}">
            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
            <label class="required" for="id_student">{% trans 'Student' %}:</label>
            <input type="hidden" name="student" value="{{ student.id }}">
            <input type="text" id="id_student" value="{{ student }}" class="form-control input-sm" disabled>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        {% if not deadline_reached %}
            <div style="margin-top: 80px;">
                <h3>{% trans 'Answer to assignment by uploading a file' %}</h3>
                <div>
                    {% for media_obj in media_field_list %}
                        <div class="col-sm-4 col-lg-3" style="padding-left: 0; margin-right: 15px">
                            <div>
                                {% with media=media_obj %}
                                    {% include 'core/snippets/media_uploader_single.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                        <button class="btn btn-sm btn-primary btn-block save-homework">{% trans "Save" %}</button>
                        {% include 'core/snippets/spinner.html' %}
                    </div>
                </div>
            </div>
        {% endif %}

    </form>
</div>
<script>
    (() => {
       $('body').on('click', '.save-homework', (e) => {
          $('#student-assignments .spinner').fadeIn();
           {#let href = $(e.target).prop('href');#}
           {#$(this).load(href);#}
           {#return false;#}
       });
       $('#selection-control').addClass('back');
       $('#selection-control .clear-selection').attr('title', "{% trans 'Back' %}");
       $('#selection-control .select-count').html("{% trans 'Back' %}");
    })()
</script>