{% load i18n static cache %}

<meta name="theme-color" content="#fff">

<meta name="msapplication-TileColor" content="#fff">
<meta name="msapplication-navbutton-color" content="#fff">
<meta name="msapplication-TileImage" content="{% static 'foulassi/mykids/icons/icon-144x144.png' %}">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'foulassi/mykids/icons/icon-180x180.png' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'foulassi/mykids/icons/icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'foulassi/mykids/icons/icon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'foulassi/mykids/icons/icon-32x32.png' %}">
